{% extends 'main/layout.html' %}

{% block title %}EcoProduct{% endblock %}

{% block content %}
<div class="features">
    <h1>EcoProduct</h1>
    <p>Ласкаво запрошуємо в магазин "ЕкоПродукт" — ваше віконечко в унікальному світі карпатських сувенірів та вишуканих напоїв. Ми пишемося представляти найкраще, що пропонує нам краєвид Карпат, в кожному предметі та крапельці.
У нас ви знайдете чудовий вибір авторських сувенірів, виготовлених власноруч з натуральних матеріалів . Кожен сувенір несе в собі дух та енергію цього прекрасного гірського краю.
Наш вишуканий вибір наливок та домашній вин доповнює асортимент, пропонуючи справжній кулінарний витвір. Виготовлені з натуральних інгредієнтів, вони переносять вас до автентичного карпатського смаку.
Ми віримо в турботливе ставлення до природи та традицій, і віддамо все можливо, щоб кожен наш клієнт відчував це в кожному товарі.
Дозвольте «ЕкоПродукту» подарувати вам шматок Карпат у кожному замовленні. Сприймайте наші сувеніри та напої як невід'ємну частину вашого шляху.</p>
</div>
{% endblock %}